{
  "$schema": "https://json.schemastore.org/prettierrc",
  "singleQuote": true,
  "semi": false,
  "overrides": [
    {
      "files": ".fallowrc.jsonc",
      "options": {
        "trailingComma": "none"
      }
    }
  ]
}
